@import 'tailwindcss';
@import './supreme.css';

@theme {
    --font-sans: 'Supreme', sans-serif;

    --color-retro-blue: #1f8dc1;
    --color-retro-orange: #ed5f34;
    --color-retro-yellow: #ebb436;
    --color-retro-cream: #fef9ef;
}
